In [77]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [107]:
df = pd.read_csv('pet_supplies_2212.csv')
df

,product_id,category,animal,size,price,sales,rating,repeat_purchase
0,1,Food,Bird,large,51.1,1860.62,7.0,1
1,2,Housing,Bird,MEDIUM,35.98,963.60,6.0,0
2,3,Food,Dog,medium,31.23,898.30,5.0,1
3,4,Medicine,Cat,small,24.95,982.15,6.0,1
4,5,Housing,Cat,Small,26.18,832.63,7.0,1
...,...,...,...,...,...,...,...,...
1495,1496,Food,Bird,medium,40.91,1203.36,5.0,0
1496,1497,Equipment,Dog,small,32.89,1099.97,5.0,0
1497,1498,Food,Fish,Small,25.79,724.02,3.0,0
1498,1499,Medicine,Fish,small,19.94,658.66,5.0,1
1499,1500,Food,Cat,Medium,25.95,826.08,4.0,1

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_id       1500 non-null   int64
 1   category         1500 non-null   object
 2   animal           1500 non-null   object
 3   size             1500 non-null   object
 4   price            1500 non-null   object
 5   sales            1500 non-null   float64
 6   rating           1350 non-null   float64
 7   repeat_purchase  1500 non-null   int64
dtypes: float64(2), int64(2), object(4)
memory usage: 93.9+ KB

In [81]:
df['product_id'].isna().sum()

0

In [82]:
df['product_id'] = df['product_id'].astype('category')

In [83]:
df['category'].isna().sum()

0

In [84]:
df['category']= df['category'].astype('category')

In [85]:
df['animal'].isna().sum()

0

In [86]:
df['animal'].value_counts()

Cat     567
Fish    369
Dog     367
Bird    197
Name: animal, dtype: int64

In [87]:
df['animal'] = df['animal'].astype('category')

In [88]:
df['size'].isna().sum()

0

In [89]:
df['size'].value_counts()

small     372
medium    233
Small     225
SMALL     157
Medium    150
large     122
MEDIUM    109
Large      75
LARGE      57
Name: size, dtype: int64

In [90]:
df['size']=df['size'].str.capitalize()

In [91]:
df['size'].value_counts()

Small     754
Medium    492
Large     254
Name: size, dtype: int64

In [92]:
df['price'].isna().sum()

0

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_id       1500 non-null   category
 1   category         1500 non-null   category
 2   animal           1500 non-null   category
 3   size             1500 non-null   object
 4   price            1500 non-null   object
 5   sales            1500 non-null   float64
 6   rating           1350 non-null   float64
 7   repeat_purchase  1500 non-null   int64
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 109.1+ KB

In [94]:
df['price'].astype('float64')

ValueError: could not convert string to float: 'unlisted'

In [96]:
median_price =df[ df['price'] !='unlisted']

In [106]:
median_price.info()

<class 'pandas.core.series.Series'>
Index: 4 entries, price to repeat_purchase
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      float64
dtypes: float64(1)
memory usage: 236.0+ bytes

In [105]:
median_price = median_price['price'].median()

AttributeError: 'numpy.float64' object has no attribute 'median'

In [76]:
df['price'] = df['price'].replace('unlisted','0')

In [31]:
df['price']=df['price'].astype('float')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_id       1500 non-null   category
 1   category         1500 non-null   category
 2   animal           1500 non-null   category
 3   size             1500 non-null   object
 4   price            1500 non-null   float64
 5   sales            1500 non-null   float64
 6   rating           1350 non-null   float64
 7   repeat_purchase  1500 non-null   int64
dtypes: category(3), float64(3), int64(1), object(1)
memory usage: 109.1+ KB

In [33]:
df['sales'].isna().sum()

0

In [34]:
df['sales'].head(25)

0     1860.62
1      963.60
2      898.30
3      982.15
4      832.63
5      874.58
6      875.07
7     1074.31
8      503.67
9      838.88
10    1457.22
11    1204.60
12     889.73
13    1450.50
14     859.29
15    1418.72
16    1040.51
17    1521.51
18    1333.90
19    1792.63
20     542.06
21    1456.58
22     859.94
23     790.26
24    1410.66
Name: sales, dtype: float64

In [35]:
df['rating'].isna().sum()

150

In [38]:
df['rating'].value_counts()

5.0    304
6.0    299
4.0    283
3.0    190
7.0    143
8.0     61
2.0     43
9.0     15
1.0     12
Name: rating, dtype: int64